* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3548fe;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  overflow-y: scroll;
}

h1 {
  margin-bottom: 24px;
  text-align: center;
}

.accent {
  color: red;
}

div {
  height: 1000vh;
}